html{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body{
    overflow: scroll;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    text-rendering: optimizeLegibility;
    background: #080b09;
}
*, *:before, *:after {
    box-sizing: inherit;
}
